<template lang="pug">
.container
  form.entryform(novalidate)
    fieldset
      legend Captain
      .form-row
        .form-group.col-4.mb-2(v-for="item in ['firstName', 'lastName', 'tel', 'email', 'streetAddress', 'postalCode', 'city', 'country']")
          input.form-control(:class="errors.has(item) ? 'was-validated' : ''" :placeholder="myfields.captain[item].label" v-model="entry[item]" :name="item" v-validate="myfields.captain[item].validations || {}")
          .invalid-feedback(v-show="errors.has(item)") {{ errors.first(item) }}
        .form-group.col-4.mb-2(v-for="item in ['isFirstTimer']")
          .form-check
            label.form-check-label
              input.form-check-input(type="checkbox" v-model="entry[item]")
              span {{myfields.captain[item].label}}
    fieldset
      legend Boat
      .form-row
        .form-group.col-4.mb-2(v-for="item in ['boatName']")
          input.form-control(:placeholder="myfields.entry[item].label" v-model="entry[item]")
        .form-group.col-4.mb-2(v-for="item in ['boatType']")
          input.form-control(:placeholder="myfields.entry[item].label" list="types" v-model.lazy.trim="entry[item]" @change="log")
          datalist#types
            option(v-for="val in listedTypes") {{val}}
        .form-group.col-4.mb-2(v-for="item in ['club']")
          input.form-control(:placeholder="myfields.entry[item].label" list="clubs" v-model.lazy.trim="entry[item]" @change="log")
          datalist#clubs
            option(v-for="val in listedClubs") {{val}}
        .form-group.col-4.mb-2(v-for="item in ['sailnumber']")
          input.form-control(:placeholder="myfields.entry[item].label" v-model="entry[item]")
        .form-group.col-4.mb-2(v-for="item in ['boatDescription']")
          textarea.form-control(:placeholder="myfields.entry[item].label" v-model="entry[item]")
        .form-group.col-4.mb-2(v-for="item in ['boatImage']")
          picture-input(ref="boatImageInput" @change="uploadImg" width="200" height="200" accept="image/jpeg,image/png" size="10" buttonClass="btn" :customStrings="{upload: '<h1>Bummer!</h1>',}" :prefillOptions="{}")
    fieldset
      legend Race class
      .form-row
        .form-group.col-4.mb-2
          .form-check(v-for="val in [false, true]")
            label.form-check-label
              input.form-check-input(type="radio" :value="val" v-model="entry.hasSponsor")
              span {{val ? 'Sponsored' : 'Not sponsored'}}

        .form-group.col-4.mb-2
          .form-check(v-for="item in availableClasses")
            label.form-check-label
              input.form-check-input(type="radio" :value="item._id" v-model="entry.classId")
              span {{item.name}}

        .form-group.col-4.mb-2(v-if="chosenClass")
          input.form-control(v-for="item in chosenClass.handicap" :placeholder="label(item)" v-if="!entry.boatIsRegular || !classNeedsFinlys" v-model.number="entry.handicap[item]")

          .form-check(v-if="classNeedsFinlys")
            label.form-check-label
              input.form-check-input(type="checkbox" v-model="entry.boatIsRegular" :disabled="!boatCouldBeRegular")
              span Boat conforms to the FinLYS table

    fieldset(v-if="entry.hasSponsor")
      legend Sponsor
      .form-row
        .form-group.col-4.mb-2(v-for="item in ['firstName', 'lastName', 'tel', 'email', 'streetAddress', 'postalCode', 'city', 'country', 'product']")
          input.form-control(:placeholder="myfields.sponsor[item].label" v-model="entry.sponsor[item]")
        .form-group.col-4.mb-2(v-for="item in ['description']")
          textarea.form-control(:placeholder="myfields.sponsor[item].label" v-model="entry.sponsor[item]")
        .form-group.col-4.mb-2(v-for="item in ['logo']")
          picture-input(ref="logoInput" @change="uploadImg" width="200" height="200" accept="image/jpeg,image/png" size="10" buttonClass="btn" :customStrings="{upload: '<h1>Bummer!</h1>',}" :prefillOptions="{}")
    fieldset
      .form-check(v-for="item in ['agreeOnTOS', 'wantNews']")
        label.form-check-label
          input.form-check-input(type="checkbox" :name="item")
          span {{label(item)}}
    .form-row
      button.btn.btn-primary.btn-lg(@click="log") Submit
</template>

<script>
import schemas from 'htr2x-schema'
import PictureInput from 'vue-picture-input'
export default {
  components: {
    PictureInput
  },
  name: 'entryform',
  data () {
    return {
      classes: [],
      clubs: [],
      entry: {
        boatIsRegular: false,
        captain: {},
        classId: '', // chosen class id
        handicap: {},
        hasSponsor: true,
        sponsor: {}
      },
      filename: '',
      types: []
    }
  },
  computed: {
    availableClasses () {
      let hasSponsor = this.entry.hasSponsor
      return this.classes.filter(item => hasSponsor || !item.sponsoredOnly)
    },
    boatCouldBeRegular () {
      let type = this.entry.boatType
      console.log('Type is', type)
      return type && this.listedTypes.indexOf(type) !== -1
    },
    chosenClass () {
      // console.log(this.classes.find(item => item._id === this.entry.classId))
      if (this.entry.classId) return this.classes.find(item => item._id === this.entry.classId)
    },
    classNeedsFinlys () {
      if (this.chosenClass) return this.chosenClass.handicap.indexOf('finlys') !== -1
    },
    listedClubs () {
      return this.clubs.map(item => item.Seura)
    },
    listedTypes () {
      return this.types.map(item => item.Tyyppi)
    },
    myfields () {
      return ['captain', 'entry', 'sponsor'].reduce((acc, cur) => {
        acc[cur] = this.curryFields(schemas[cur].properties)
        return acc
      }, {})
    }
  },
  created () {
    let _this = this
    let promises = ['classes?entries=exclude', 'data/finlys', 'data/clubs'].map(function (url) {
      return _this.$http.get(url)
    })
    Promise.all(promises)
    .then(function ([classes, types, clubs]) {
      _this.classes = classes.body.data
      _this.types = types.body.data
      _this.clubs = clubs.body.data
    })
    .catch(err => console.log(err))
  },
  methods: {
    curryFields (schema) {
      return Object.keys(schema).reduce((acc, key) => {
        let item = schema[key]
        item.name = key
        // item.hidden = this.hiddenFields.indexOf(key) !== -1
        item.label = item.title
        acc[key] = item
        return acc
      }, {})
    },
    getValidations (item) {
      if (item.validations) return item.validations.join('|')
      else return 'required'
    },
    handicapTitle (key) {
      return this.handicapTitles[key]
    },
    label (key) {
      let labels = {
        finlys: 'FinLYS',
        orc_cdl: 'ORC CDL',
        orc_tod_off: 'ORC ToD Offshore',
        irc_tcc: 'IRC TCC',
        agreeOnTOS: 'I accept terms',
        wantNews: 'I want newsletter'
      }
      return labels[key] || key
    },
    log () {
      // console.log(JSON.stringify(this.entry))
      // console.log('Could be regular?', this.boatCouldBeRegular)
    },
    uploadImg () {
      console.log('New picture selected!')
      if (this.$refs.pictureInput.image) {
        console.log('Picture loaded.')
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
textarea {
  height: 200px;
}
fieldset {
  margin-bottom: 1rem;
}
</style>
