<template lang="pug">
  .entries
    table.table
      thead
        tr
          th Sailnumber
          th Boat
          th Captain
          th Boat type
          th Club
          th Fleet
      tr(v-for="row in data")
        td {{row.sailnumber}}
        td {{row.boat_name}}
        td {{row.captain}}
        td {{row.boat_type}}
        td {{row.club}}
        td {{row.fleet.name}}
</template>

<script>
export default {
  name: 'entries',
  created () {
    let self = this
    return this.getData()
    .then(res => {
      self.data = res.body.data
    })
  },
  data () {
    return {
      msg: 'Entries',
      data: []
    }
  },
  methods: {
    getData () {
      return this.$http.get('entries?$sort[fleet_id]=1&$limit=false')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
