<template lang="pug">
  .results
    .table-container.mb-3(v-for="fleet in data")
      h2 {{fleet.name}}
        span.h6.badge.badge-light.float-right {{fleet.entries.length}} boats
      table.table
        //- caption {{fleet.name}}
        thead
          th Sail number
          th Boat
          th Start time
          th Sponsor
        tr(v-for="row in fleet.entries")
          td {{row.sailnumber}}
          td {{row.boat_name}}
          td {{$fmtTime(row.startTime)}}
          td {{row.sponsor_id ? row.sponsor.nimi : ''}}
  </div>
</template>

<script>
export default {
  name: 'fleets',
  created () {
    let self = this
    return this.getData()
    .then(res => {
      self.data = res.body.data
    })
  },
  data () {
    return {
      msg: 'Fleets',
      data: []
    }
  },
  filters: {
    // notice that filters do not have `this`
  },
  methods: {
    getData () {
      return this.$http.get('fleets?$sort[name]=1&$limit=false')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  table {
    table-layout: fixed;
  }
</style>
