<template lang="pug">
.container
  table.table.races
    thead
      th Name
      th Registration begins
      th Registration ends
      th Registration is closed
      th Race starts
    tr(v-for="race in races")
      td {{race.name}}
      td {{$fmtDate(race.registration_start)}}
      td {{$fmtDate(race.registration_end)}}
      td {{race.registration_closed}}
      td {{$fmtDate(race.start_date)}}
</template>

<script>
export default {
  name: 'home',
  created () {
    this.$http.get('races')
    .then(function (res) {
      this.races = res.body.data
    })
    .catch(err => console.log(err))
  },
  data () {
    return {
      races: []
      // msg: 'Welcome a Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
