<template>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/logo.png" style="max-height: 50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <router-link class="nav-item" to="/" tag="li">
        <a class="nav-link">Home</a>
      </router-link>
      <router-link class="nav-item" to="/entries" tag="li">
        <a class="nav-link">Entries</a>
      </router-link>
      <router-link class="nav-item" to="/fleets" tag="li">
        <a class="nav-link">Fleets</a>
      </router-link>
      <router-link class="nav-item" to="/results" tag="li">
        <a class="nav-link">Results</a>
      </router-link>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" name="button" @click="login">Log in</button>
    </form>
  </div>
</nav>
</template>

<script>
export default {
  name: 'navbar',
  data () {
    return {}
  },
  methods: {
    login: function () {
      this.$auth.login({
        rememberMe: true,
        body: {
          strategy: 'local',
          email: 'hru@fastmail.com',
          password: 'salasana'
        },
        url: 'authentication',
        fetchUser: false
      })
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
