<template lang="pug">
  <div class="results">
    .table-container(v-for="priceClass in data")
      h2 {{priceClass.name}}
      table.table
        thead
          th Position
          th Sail number
          th Boat
          th Sponsor
          th Start time
          th Finish time
          th True sailing time
          th Sailing time
          th Avg. speed
        tr(v-for="row, ind  in priceClass.entries")
          td {{ind+1}}
          td {{row.sailnumber}}
          td {{row.boat_name}}
          td {{row.sponsor ? row.sponsor.nimi : '' }}
          td {{ $fmtTime(row.startTime) }}
          td {{ $fmtTime(row.finishTime) }}
          td {{ $fmtDuration(row.trueSailingTime) }}
          td {{ $fmtDuration(row.sailingTime) }}
          td {{row.avgSpeed | fixd }}
  </div>
</template>

<script>
export default {
  name: 'results',
  created () {
    let self = this
    return this.getData()
    .then(res => {
      self.data = res.body.data
    })
  },
  data () {
    return {
      msg: 'Results',
      data: []
    }
  },
  filters: {
    fixd: num => num ? num.toFixed(2) : num
  },
  methods: {
    getData () {
      return this.$http.get('prize-classes?$sort[name]=1&$limit=false')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
