<template>
<div id="app">
  <navbar></navbar>
  <div v-if="$auth.ready()">
    <div class="container mt-3">
      <router-view></router-view>
    </div>
  </div>

  <div v-if="!$auth.ready()">
    Loading ...
  </div>
</div>
</template>

<script>
import navbar from './components/Navbar'
export default {
  name: 'app',
  components: {
    navbar
  },
  created () {},
  methods: {}
}
</script>

<style lang="scss">
// @import "./assets/app";
</style>
